$body-bg:                 #0c5a61;

$base-text-colour:        #4d4d3e;

$base-font-family:        'Fauna One';
$base-font-size:          16px;
$base-font-weight:        400;

$title-font-family:       'Playfair Display';
$title-font-size:         1.5em;

$base-link-colour:        #25a4ae;
$base-link-hover-colour:  #6fced5;

$header-base:             #cde6d0;
$header-gradient:         linear-gradient(135deg,#9edad6 0%,$base-link-hover-colour 50%,$base-link-colour 100%);

$logo-colour:             #f8f8f8;

$meta-colour:             #adadad;

$article-bg-odd:          #fdfdfd;